<html>
    <head>
        <link href='/static/style.css' rel='stylesheet'>
    </head>
    <body>
        <h1>Details for Field {{ field_id }}</h1>

        {% if followups %}
        <h2>Followups</h2>
        <table>
            <tr>
                <th>Code</th>
                <th>Object</th>
                <th>RA</th>
                <th>Dec</th>
                <th>Magnitude</th>
                <th>Comment</th>
                <th>Field</th>
                <th>Observing Run</th>
                <th>Observatory</th>
                <th>Telescope</th>
                <th>Camera</th>
                <th>Operator</th>
            </tr>
            {% for followup in followups %}
            <tr>
                <td>{{ followup.followup_code }}</td>
                <td>{{ followup.followup_name }}</td>
                <td>{{ followup.ra }}</td>
                <td>{{ followup.declination }}</td>
                <td>{{ followup.magnitude }}</td>
                <td>{{ followup.comment }}</td>
                <td>
                        {% if followup.field_code %}
                        <a href='/field/{{ followup.field_code }}'>
                            {{ followup.field_code }}
                        </a>
                        {% endif %}
                </td>                
                <td><a href='/night/{{ followup.night_id }}'>{{ followup.obsdate }}</a></td>
                <td>{{ followup.observatory }}</td>
                <td>{{ followup.telescope }}</td>
                <td>{{ followup.camera }}</td>
                <td>{{ followup.operator }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if userfields %}
        <h2>User-Specified Fields</h2>
        <table>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>RA</th>
                <th>Dec</th>
                <th>Magnitude</th>
                <th>Comment</th>
                <th>Field</th>
                <th>Observing Run</th>
                <th>Observatory</th>
                <th>Telescope</th>
                <th>Camera</th>
                <th>Operator</th>
            </tr>
            {% for userfield in userfields %}
            <tr>
                <td>{{ userfield.userfield_code }}</td>
                <td>{{ userfield.userfield_name }}</td>
                <td>{{ userfield.ra }}</td>
                <td>{{ userfield.declination }}</td>
                <td>{{ userfield.magnitude }}</td>
                <td>{{ userfield.comment}}</td>
                <td>
                        {% if userfield.field_code %}
                        <a href='/field/{{ userfield.field_code }}'>
                            {{ userfield.field_code }}
                        </a>
                        {% endif %}
                </td>                
                <td><a href='/night/{{ userfield.night_id }}'>{{ userfield.obsdate }}</a></td>
                <td>{{ userfield.observatory }}</td>
                <td>{{ userfield.telescope }}</td>
                <td>{{ userfield.camera }}</td>
                <td>{{ userfield.operator }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if surveyfields %}
        <h2>Survey Plan</h2>
        <table>
            <tr>
                <th>Code</th>
                <th>MJD</th>
                <th>RA</th>
                <th>Dec</th>
                <th>Observing Run</th>
                <th>Observatory</th>
                <th>Telescope</th>
                <th>Camera</th>
                <th>Operator</th>
            </tr>
            {% for surveyfield in surveyfields %}
            <tr>
                <td><a href='/field/{{ surveyfield.surveyfield_code }}'>{{ surveyfield.surveyfield_code }}</a></td>
                <td>{{ surveyfield.mjd }}</td>
                <td>{{ surveyfield.ra }}</td>
                <td>{{ surveyfield.declination }}</td>
                <td><a href='/night/{{ surveyfield.night_id }}'>{{ surveyfield.obsdate }}</a></td>
                <td>{{ surveyfield.observatory }}</td>
                <td>{{ surveyfield.telescope }}</td>
                <td>{{ surveyfield.camera }}</td>
                <td>{{ surveyfield.operator }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if observations %}
        <h2>Observations</h2>
        <table>
            <tr>
                <th>File</th>
                <th>Observing Run</th>
                <th>Observatory</th>
                <th>Telescope</th>
                <th>Camera</th>
                <th>Operator</th>
            </tr>
            {% for observation in observations %}
            <tr>
                <td>{{ observation.obsfile }}</td>
                <td><a href='/night/{{ observation.night_id }}'>{{ observation.obsdate }}</a></td>
                <td>{{ observation.observatory }}</td>
                <td>{{ observation.telescope }}</td>
                <td>{{ observation.camera }}</td>
                <td>{{ observation.operator }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

    </body>



</html>